.vscode/
.ipynb_checkpoints/
__pycache__/
dump/
captchas/
credenciales
facturas/
declaraciones/
constancias/
metadata/
test/
demo_casia/
notebooks/
testingtesting/
testing_notebooks/
data/
logs/
satvenv/

config/config.json
config/config_dev.json
connections/google_connection.py
connections/key_google_robina_edit.json
connections/mongo_dev.txt
connections/mongo_robina.txt
connections/seckey.json
connections/unisat_auth.txt
connections/uri_robina.txt
connections/uri_dev.txt

servicios/invoice.txt
servicios/invoice_tbt.txt


Pipfile.lock
